{% extends "layout.html" %}

{% block title %}Home{% endblock  %}

{% block content %}
<h1 class="bg-warning py-3 text-center">
    Task List
</h1>

{% if tasks %}
       <ul class="mt-5">
        {% for task in tasks %}
            <li class="{% if task.is_completed %}bg-success {% else %}bg-info{% endif %} rounded px-4 py-2 mb-2 d-flex align-item-center justify-content-between"> 
                <span class="text-white">
                    {{task.id}}.   {{ task.title }} --- {{ task.description }} 
                </span>
                <div class="d-flex align-items-center gap-2">
                    <a class="btn btn-warning" href="{% url 'edit_task_page' task.id %}">Edit</a>
                    <form action="{% url 'delete_task' task.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </li>  
        {% endfor %}
    </ul>
{% else %} 
     <p class="text-center">No tasks available</p>
{% endif %}

{% endblock  %}